#!/bin/bash

cat << EOF
--------------------------------------------------------
Helm Install Command

## LAB
❯ helm upgrade cilium cilium/cilium --namespace kube-system -f ./cilium-values-lab.yaml

## LOCAL
❯ helm upgrade cilium cilium/cilium --namespace kube-system -f ./cilium-values-kkamji.yaml
--------------------------------------------------------
EOF